<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="configfolder" value="C:\\Users\\jaime\\source\\repos\\MatlabReader\\m\\__configs\config.txt" />
		<add key="dataFolder" value="C:\\Users\\jaime\\source\\repos\\MatlabReader\\m\\" />
		<add key="exe" value="C:\\Users\\jaime\\source\\repos\\MatlabReader\\m\\Mill2_DiasProcess.exe" />
	</appSettings>
</configuration>